snippet code "code block" b
\`\`\`$1
$0

\`\`\`
endsnippet

snippet img "image link"
![](/images/$1.png)
$0
endsnippet

snippet h "hyperlink"
[$1]($2) $0
endsnippet

snippet $ "inline math" wA
$$1$ $0
endsnippet

snippet eq "display math" bA
$$
	$1
$$
$0
endsnippet

